body{
    font-family: 'Rubik', sans-serif;
    color:rgb(137, 255, 255);
    background-color: rgb(39, 39, 39);
}

#text{
    resize: none;
    width: 95vw;
    height: 95vh;
    background-color: rgb(39,39,39);
    color: rgb(255,255,255);
    font-size: 28px;
    outline: none;
    position: absolute;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}